/* css styles */
@font-face {
  font-family: BasicSans;
  src: url(fonts/Basic_Sans_Black.otf);
  }
div {
  font-family: BasicSans;
}
.footer > * {
	background-color:#07874B;
	color: black;
}
 .navbar-brand > img {
          width: auto; /* Fill the container */
          height: auto; /* Maintain aspect ratio */
        }
 .navbar {
    background-color: #07874B;
    }     
a {
      color: #07874B; /* Set a custom blue color */
      text-decoration: underline;
      ;/* Remove underline by default */
    }

    a:hover {
      text-decoration: none; /* Add underline on hover */
      color: #001; /* Darken the color on hover */
    }        